<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' media="all">
    <link rel="stylesheet" href="/stylesheets/Reset.css" media="all">
  </head>
  
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <form method="post" action="/login">
    	<p>userid:<input id="userid" name="userid" type="text"></p>
    	<p>password:<input id="password" name="password" type="password"></p>
   	    <input id="submit" name="submit" type="submit" value="登入">    	
    	
    </form>
    
    <form method="post" action="/registered">
      
      <p><input id="userid" name="userid" type="text" ></p>
    	
       <p><input id="password" name="password" type="text" p>
       
    <input id="submit" name="submit" type="submit" value="註冊">
    
		<p id="sur">334567</p>
    
    </form>
  </body>
</html>
